.container {
    max-width: 90%;
    margin: 0 auto;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerTxt {
    display: flex;
    flex-direction: column;
}

.labelGreeting {
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    margin-bottom: 5px;
    font-size: 2.2rem;
}

.titleName {
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    font-size: 3.4rem;
}

.titleNameLabel {
    color: #03bb85; 
}

.titleProfession {
    color: #616161;
    margin-bottom: 10px;
    font-size: 1.7rem;
    line-height: 1.5;
}

.imgAbout {
    width: 250px;
    height:250px;
}