.nameSection{
    text-align: center;
    margin-top: 40px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.imgPerfil {
    width: 200px;
    border-radius: 5px;
}

.infoContainer {
    max-width: calc(90vw - 200px);
    margin: 0 auto;
}