.container {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-evenly;
    align-items: center;
}

.containerTxt {
    display: flex;
    flex-direction: column;
}

.labelGreeting {

}

.titleName {
    font-weight: bold;
    font-size: 40px;
}

.titleProfession {
    color: #03bb85;
    font-size: 25px;
}

.imgAbout {
    width: 250px;
    height:250px;
}