.nameSection{
    text-align: center;
    width: 100px;
    margin: 40px auto 15px auto;
    border-bottom: 3px solid var(--main-bg-color);
    color: var(--main-bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.imgPerfil {
    width: 200px;
    border-radius: 5px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.infoContainer {
    max-width: calc(70vw);
    margin: 0 auto;
    margin-top: 10px;
}

.titleInfo {
    text-align: center;
    padding: 5px;
    font-size: clamp(1.5rem, 1vw + 1rem ,2rem);
}

.txtInfo {
    color: var(--text-dove-gray);
    font-weight: 500;
    padding: 5px;
}

@media (width >= 1000px) {
    .container {
        flex-direction: row;
        max-width: 70vw;
        margin: 2rem auto;
    }

    .imgPerfilContainer {
        width: 40%;
        display: flex;
        justify-content: center;
    }

    .infoContainer {
        max-width: 50%;
    }

    .titleInfo {
        text-align: start;
    }
    
    .txtInfo {
        font-size: 1.1rem;
    }
}

@media (width >= 1300px) {
    .container {

    }

    .imgPerfil {
        width: 300px;
    }

    .imgPerfilContainer {

    }

    .infoContainer {

    }

    .titleInfo {
    }
    
    .txtInfo {
        font-size: 1.3rem;
    }
}