.nameSection{
    text-align: center;
    width: 100px;
    margin: 40px auto 15px auto;
    border-bottom: 3px solid var(--main-bg-color);
    color: var(--main-bg-color);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

.imgPerfil {
    width: 200px;
    border-radius: 5px;
}

.infoContainer {
    max-width: calc(70vw);
    margin: 0 auto;
    margin-top: 10px;
}

.titleInfo {
    text-align: center;
}

.txtInfo {
    color: var(--text-dove-gray);
    font-weight: 500;
    padding: 5px;
}