.decorationNone {
    text-decoration: none;
}

.section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (width >= 1000px) {
    .section {
        max-width: 80%;
        margin: 0 auto;
        flex-direction: row;
        flex-wrap: wrap;
    }
}