.container {
    max-width: 90vw;
    margin: 1rem auto;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    /*box-shadow: 0px 8px 18px 0 rgba(0,0,0,0.14);*/
    padding: 1.5rem;
    border-radius: 5px;
}

.title {
    font-size: 1.2rem;
    color: var(--bg-deep-sea);
}

.date {
    color: var(--text-dove-gray);
}


.subtitle {
    font-size: 1.2rem;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    color: var(--bg-deep-sea);
    margin: 4px;
}