.container {
    max-width: 90vw;
    margin: 0 auto;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    padding: 7px;
    border-radius: 5px;
}

.title {
    font-size: 1.2rem;
    color: var(--bg-viking);
}

.date {
    color: var(--text-dove-gray);
}


.subtitle {
    font-size: 1.2rem;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
}

.tag {
    color: var(--bg-viking);
    margin: 4px;
}