.container {
    max-width: 90vw;
    margin: 1rem auto;
    background-color: rgb(104,221,189, .2);
    width: 700px;
    /*box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;*/
    box-shadow: 0px 8px 18px 0 rgba(0,0,0,0.14);
    padding: 1.5rem;
    border-radius: 5px;
}

.title {
    font-size: 1.3rem;
    color: var(--bg-deep-sea);
}

.date {
    color: var(--text-dove-gray);
    font-weight: bold;
}

.p {
    font-size: 1rem;
    font-weight: bold;
    color: #3f3f3f;

}

.subtitle {
    font-size: 1.2rem;
    color: #333333
}

.readMoreBtn {
    border: none;
    background-color: transparent;
    font-weight: bold;
    font-size: 17px;
    cursor: pointer;
    color: #111111;
}

.tagsContainer {
    display: flex;
    flex-wrap: wrap;
    margin-top: 1rem;
}
