.container {
    max-width: 90%;
    margin: 0 auto;
    height: calc(100vh - 120px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.containerTxt {
    display: flex;
    flex-direction: column;
}

.labelGreeting {
    font-weight: bold;
    font-style: normal;
    line-height: 1;
    margin-bottom: 5px;
    font-size: clamp(2.2rem, 2vw + 1rem , 2.8rem);
}

.titleName {
    font-weight: bold;
    line-height: 1;
    margin-bottom: 5px;
    font-size: clamp(3.4rem, 4vw + 1rem , 4.8rem);
}

.titleNameLabel {
    color: var(--main-bg-color); 
}

.titleProfession {
    color: var(--text-dove-gray);
    margin-bottom: 10px;
    font-size: 1.7rem;
    line-height: clamp(1.5, 2vw + 1 rem, 2rem);
}

.downloadBtn {
    text-decoration: none;
    background-color: var(--main-bg-color);
    width: 130px;
    padding: 5px;
    text-align: center;
    color: #F5F5F5;
    border-radius: 5px;
}

.downloadBtn:hover {
    background-color: #2ce3a1;
}

.imgAbout {
    width: 250px;
    height:250px;
}

.socialContainer {
    height: 60px;
    display: flex;
    justify-content: center;
}

@media (width >= 1000px) {
    .container {
        flex-direction: row;

    }

    .imgAbout {
        width: 350px;
        height:350px;
    }
}