.navbar {
    height: 60px;
    box-shadow: 0 1px 10px #f1f1f1;
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pointLogo {
    color: #03bb85;
}

.btnNavbar {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}