.navbar {
    height: 60px;
    box-shadow: 0 1px 10px #f1f1f1;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.titleNavbar {
    visibility: hidden;
}

.btnNavbar {
    width: 30px;
    height: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    margin-right: 10px;
}

@media (width >= 1000px) {
    .btnNavbar{
        display: none;
    }
}