.NavbtnReturn {
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 10px #f1f1f1;
}

.btnReturn {
  text-decoration: none;
  color: #000;
  font-size: 20px;
  margin: 15px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btnReturn:hover {
  color: var(--main-bg-color);
}

.container {
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  height: calc(100vh - 60px);
  padding-top: 50px;
}

.textContainer {
  padding: 10px;
  max-width: 50%;
  margin: 0 auto;
}

.imgContainer {
  display: flex;
  flex-direction: column;
}

.img {
  width: 500px;
  height: 300px;
  object-fit: contain;
}

.iconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 17px;
  width: 100%;
}

.btnResponsive {
  background: transparent;
  border: none;
  cursor: pointer;
}

.btnResponsive:hover {
  fill: var(--main-bg-color);
}

.buttonContainer {
  margin: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button {
  height: 33px;
  margin: 0 30px;
  width: 150px;
  padding: 0.3rem 0.5rem;
  font-weight: bold;
  background-color: transparent;
  color: #5c5c5c;
  border: 1px solid var(--main-bg-color);
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.button:hover {
  background-color: var(--main-bg-color);
  color: white;
}

.githubButton {
  height: 25px;
  width: 25px;
}


@media only screen and (max-width: 900px) {
  .container {
    flex-direction: column;
    width: 100%;
    padding-top: 10px;
  }

  .img {
    margin: 20px auto;
    width: 100%;
  }

  .textContainer {
    max-width: 90%;
  }
}
 

@media only screen and (max-width: 1200px) {
    .textContainer {
        padding: 30px;
    }
}
