* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hind", sans-serif;
}

:root {
    --main-bg-color: #03bb85;
    --bg-deep-sea: #038554;
    --bg-tropicalRainForest: #007157;
    --bg-viking: #68ddbd;
    --text-dove-gray: #616161;
}