.btnSidebar {
    width: 30px;
    height: 30px;
    margin-top: 13px;
    margin-right: 10px;
    background: transparent;
    border: none;
    cursor: pointer;
    left: 0;
}

.btnContainer {
    width: 100%;
    display: flex;
    justify-content: end;
}

.sidebarContainer {
    width: 320px;
    min-height: 100vh;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--bg-deep-sea);
    /*transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 300ms;*/
}

.capaSidebar {
    background-color: rgb(71 85 105 / 0.5);
    min-height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    backdrop-filter: blur(4px);
}

.liContainer {
    list-style: none;
    text-align: center;
    font-weight: bold;
    margin-top: 60px;
    color: white;
}

.li {
    font-size: 25px;
    font-weight: normal;
    margin-bottom: 5px;
    cursor: pointer;
}

.li:hover {
    background-color: var(--main-bg-color);
}

.w0 {
    width: 0;
}

.hidden {
    visibility: hidden;
}


@media (width >= 1000px) {
    .sidebarContainer {
        width: 100%;
        min-height: 60px;
        transition: none;
        background-color: white;
}

    .liContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        color: black;
        gap: 50px;
        height: 60px;
        margin-top: 0;
    }

    .li {
        font-size: 20px;
        font-weight: bold;
    }

    .li:hover {
        background-color: white;
        border-bottom: 3px solid var(--bg-viking);
        border-radius: 1px;
    }

    .btnSidebar{
        display: none;
    }

    .capaSidebar{
        display: none;
    }
}